@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  user-select: none;
}

body {
  background-color: #141414;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0.9em 2em;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3em;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
}
nav .left {
  display: flex;
  margin-left: 2em;
}
nav .left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  padding: 0.5em;
  width: 8rem;
}
nav .left .logo a {
  width: 100%;
  font-size: 40px;
  margin: auto;
  color: red;
}
nav .left .menu-list {
  display: flex;
}
nav .left .menu-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 1em;
}
nav .left .menu-list li a {
  font-size: 1rem;
}
nav .right {
  display: flex;
  margin-right: 2em;
  font-weight: bold;
}
nav .right .log {
  padding: 0.5em;
}
nav .right .profile {
  padding: 0;
}
nav .right .profile a {
  display: flex;
  align-items: center;
}
nav .right .profile a .avatar-box {
  width: 30px;
  height: 30px;
  background-color: #333;
  border-radius: 3px;
  margin-right: 10px;
}
nav .right .profile i {
  transition: all 300ms;
}
nav .right .profile:hover i {
  transform: rotate(180deg);
}